# Config
.env
app/config.js

# JetBrains project files
.idea

# NPM
node_modules

# NativeScript application
hooks
platforms
.migration_backup
.update_backup

# Android build
local.properties

strictlybikes.iml

# VSCode
.vscode

.config